<div class="col-sm-4 col-sm-offset-4 form_styles">
	<%= form_for @post, html: { id: 'formo', class: 'new-post container' } do |f| %>
	  <%= f.text_field :question, placeholder: "What's your question?", id: 'queztion', class: 'form-control' %><br />
	  <%= f.text_field :temptags, placeholder: "Add any tags to it?", id: 'temptagz', class: 'form-control' %><br />
	  <%= f.file_field :post_pic, id: 'poztpic' %><br />
	  <%= f.submit "Ask the world!", id: 'poztzubmit', class: 'btn btn-primary' %>
	<% end %>
</div>