<!DOCTYPE html>
<html data-ng-app="opinionationApp">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <title>OpinioNation</title>
  <meta name="title" content="OpinioNation">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>
</head>
<body>

<%= render 'partials/nav' %>

<%= yield %>

  <!-- <span id="spin-loader"></span> -->

</body>
</html>
